In [84]:
import pandas as pd
import numpy as np
from sklearn.svm import SVR
from sklearn import preprocessing
import matplotlib.pyplot as plt  

from sklearn import utils
from sklearn.metrics import mean_squared_error

%matplotlib inline

In [85]:
!git clone https://github.com/Nitesh167/raw-materials-forecasting.git

Cloning into 'raw-materials-forecasting'...
remote: Enumerating objects: 47, done.
remote: Counting objects: 100% (28/28), done.
remote: Compressing objects: 100% (28/28), done.
remote: Total 47 (delta 8), reused 0 (delta 0), pack-reused 19
Unpacking objects: 100% (47/47), done.

In [86]:
cd raw-materials-forecasting/

/content/raw-materials-forecasting/raw-materials-forecasting/raw-materials-forecasting/raw-materials-forecasting

In [87]:
df=pd.read_csv('dataset_value2.csv')
df.columns=['Year',"no_of_cars","steel","plastics","iron","rubber","aluminium","glass","copper"]
df.head(10)

,Year,no_of_cars,steel,plastics,iron,rubber,aluminium,glass,copper
0,2001-2002,669719,505463.7,86072.3,70039.2,38816.9,24471.5,25315.3,8016.5
1,2002-2003,723330,572265.4,100524.4,76557.2,44020.4,28708.9,29665.9,9569.6
2,2003-2004,989560,811239.3,139558.5,108891.2,61251.2,42195.3,40834.2,13611.4
3,2004-2005,1209876,1045361.9,187176.3,139499.3,82993.2,54740.2,51208.6,19423.9
4,2005-2006,1309300,1151778.1,206929.6,150316.8,93703.9,62469.3,56612.8,19521.6
5,2006-2007,1545234,1409559.4,259339.7,177695.7,117663.3,79242.6,72038.8,24012.9
6,2007-2008,1777583,1645920.9,311564.3,208558.4,146554.6,98642.5,90187.4,28183.5
7,2008-2009,1838593,1648801.5,359327.6,212921.7,153244.8,102163.2,87973.9,31216.5
8,2009-2010,2357411,2070944.3,398196.5,251241.0,204582.0,136388.0,107674.7,39480.7
9,2010-2011,2987296,2619488.2,522065.8,286828.2,261032.9,178601.4,141965.2,50374.7

In [88]:
#delete column 
del df["Year"]

df.head()

,no_of_cars,steel,plastics,iron,rubber,aluminium,glass,copper
0,669719,505463.7,86072.3,70039.2,38816.9,24471.5,25315.3,8016.5
1,723330,572265.4,100524.4,76557.2,44020.4,28708.9,29665.9,9569.6
2,989560,811239.3,139558.5,108891.2,61251.2,42195.3,40834.2,13611.4
3,1209876,1045361.9,187176.3,139499.3,82993.2,54740.2,51208.6,19423.9
4,1309300,1151778.1,206929.6,150316.8,93703.9,62469.3,56612.8,19521.6

In [89]:
'''from sklearn.preprocessing import StandardScaler
cols_to_norm = ['no_of_cars','steel','plastics','iron','rubber','aluminium','glass','copper']
df[cols_to_norm] = StandardScaler().fit_transform(df[cols_to_norm])
df.head(10)'''

"from sklearn.preprocessing import StandardScaler\ncols_to_norm = ['no_of_cars','steel','plastics','iron','rubber','aluminium','glass','copper']\ndf[cols_to_norm] = StandardScaler().fit_transform(df[cols_to_norm])\ndf.head(10)"

In [90]:
np.random.seed(99)
msk = np.random.rand(len(df)) < 0.8
train = df[msk]
test = df[~msk]

# **Steel**

In [91]:
from sklearn import neighbors
from sklearn import linear_model
model = neighbors.KNeighborsRegressor()

train_x = np.asanyarray(train[['no_of_cars']])
train_y = np.asanyarray(train[['steel']])
model.fit (train_x, train_y)

KNeighborsRegressor()

In [92]:
y_pred = model.predict(test[['steel']])
y_pred

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([[1035714.26],
       [1035714.26],
       [1673826.38],
       [2700330.46],
       [2725150.7 ],
       [2257581.64]])

In [93]:
from sklearn.metrics import r2_score

test_x = np.asanyarray(test[['no_of_cars']])
test_y = np.asanyarray(test[['steel']])
test_y_hat =model.predict(test_x)

print("Mean absolute error: %.2f" % np.mean(np.absolute(test_y_hat - test_y)))

print("R2-score: %.2f" % r2_score(test_y_hat , test_y) )
rmse= mean_squared_error( test_y,test_y_hat,squared=False)
nrmse = rmse/np.std(test_y)
print("Rmse: %.2f" % nrmse)
output = model.predict([['669719']])
print(output)

Mean absolute error: 202825.38
R2-score: 0.90
Rmse: 0.27
[[1035714.26]]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

# **Plastics**

In [94]:

from sklearn import linear_model
model_plastics =neighbors.KNeighborsRegressor()
train_x = np.asanyarray(train[['no_of_cars']])
train_y_plastics = np.asanyarray(train[['plastics']])
model_plastics.fit (train_x, train_y_plastics)

KNeighborsRegressor()

In [95]:
y_plastics_pred = model_plastics.predict(test[['plastics']])
y_plastics_pred

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([[188935.4],
       [188935.4],
       [188935.4],
       [188935.4],
       [188935.4],
       [188935.4]])

In [96]:
from sklearn.metrics import r2_score

test_x = np.asanyarray(test[['no_of_cars']])
test_y_plastics = np.asanyarray(test[['plastics']])
test_y_hat_plastics =model_plastics.predict(test_x)

print("Mean absolute error: %.2f" % np.mean(np.absolute(test_y_hat_plastics - test_y_plastics)))

print("R2-score: %.2f" % r2_score(test_y_hat_plastics , test_y_plastics) )
rmse= mean_squared_error( test_y_plastics,test_y_hat_plastics,squared=False)
nrmse = rmse/np.std(test_y_plastics)
print("Rmse: %.2f" % nrmse)

Mean absolute error: 49260.20
R2-score: 0.91
Rmse: 0.25

# **Iron**

In [97]:
from sklearn import linear_model
model_iron = neighbors.KNeighborsRegressor()
train_x = np.asanyarray(train[['no_of_cars']])
train_y_iron = np.asanyarray(train[['iron']])
model_iron.fit (train_x, train_y_iron)

KNeighborsRegressor()

In [98]:
y_iron_pred = model_iron.predict(test[['iron']])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [99]:
from sklearn.metrics import r2_score

test_x = np.asanyarray(test[['no_of_cars']])
test_y_iron = np.asanyarray(test[['iron']])
test_y_hat_iron =model_iron.predict(test_x)

print("Mean absolute error: %.2f" % np.mean(np.absolute(test_y_hat_iron - test_y_iron)))

print("R2-score: %.2f" % r2_score(test_y_hat_iron , test_y_iron) )
rmse= mean_squared_error( test_y_iron,test_y_hat_iron,squared=False)
nrmse = rmse/np.std(test_y_iron)
print("Rmse: %.2f" % nrmse)

Mean absolute error: 26206.62
R2-score: 0.74
Rmse: 0.44

# **Rubber**

In [100]:
from sklearn import linear_model
model_rubber =neighbors.KNeighborsRegressor()
train_x = np.asanyarray(train[['no_of_cars']])
train_y_rubber = np.asanyarray(train[['rubber']])
model_rubber.fit (train_x, train_y_rubber)

KNeighborsRegressor()

In [101]:
y_rubber_pred = model_rubber.predict(test[['rubber']])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [102]:
from sklearn.metrics import r2_score

test_x = np.asanyarray(test[['no_of_cars']])
test_y_rubber = np.asanyarray(test[['rubber']])
test_y_hat_rubber =model_rubber.predict(test_x)

print("Mean absolute error: %.2f" % np.mean(np.absolute(test_y_hat_rubber - test_y_rubber)))

print("R2-score: %.2f" % r2_score(test_y_hat_rubber , test_y_rubber) )
rmse= mean_squared_error( test_y_rubber,test_y_hat_rubber,squared=False)
nrmse = rmse/np.std(test_y_rubber)
print("Rmse: %.2f" % nrmse)

Mean absolute error: 21544.42
R2-score: 0.90
Rmse: 0.29

# **Aluminium**

In [103]:
from sklearn import linear_model
model_aluminium = neighbors.KNeighborsRegressor()
train_x = np.asanyarray(train[['no_of_cars']])
train_y_aluminium = np.asanyarray(train[['aluminium']])
model_aluminium.fit (train_x, train_y_aluminium)

KNeighborsRegressor()

In [104]:
y_aluminium_pred = model_aluminium.predict(test[['aluminium']])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [105]:
from sklearn.metrics import r2_score

test_x = np.asanyarray(test[['no_of_cars']])
test_y_aluminium = np.asanyarray(test[['aluminium']])
test_y_hat_aluminium =model_aluminium.predict(test_x)

print("Mean absolute error: %.2f" % np.mean(np.absolute(test_y_hat_aluminium - test_y_aluminium)))

print("R2-score: %.2f" % r2_score(test_y_hat_aluminium , test_y_aluminium) )
rmse= mean_squared_error( test_y_aluminium,test_y_hat_aluminium, squared=False)
nrmse = rmse/np.std(test_y_aluminium)
print("Rmse: %.2f" % nrmse)

Mean absolute error: 29663.02
R2-score: 0.82
Rmse: 0.32

# **Glass**

In [106]:
from sklearn import linear_model
model_glass = neighbors.KNeighborsRegressor()
train_x = np.asanyarray(train[['no_of_cars']])
train_y_glass = np.asanyarray(train[['glass']])
model_glass.fit (train_x, train_y_glass)

KNeighborsRegressor()

In [107]:
y_glass_pred = model_glass.predict(test[['rubber']])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [108]:
from sklearn.metrics import r2_score

test_x = np.asanyarray(test[['no_of_cars']])
test_y_glass = np.asanyarray(test[['glass']])
test_y_hat_glass =model_glass.predict(test_x)

print("Mean absolute error: %.2f" % np.mean(np.absolute(test_y_hat_glass - test_y_glass)))

print("R2-score: %.2f" % r2_score(test_y_hat_glass , test_y_glass) )
rmse= mean_squared_error( test_y_glass,test_y_hat_glass,squared=False)
nrmse = rmse/np.std(test_y_glass)
print("Rmse: %.2f" % nrmse)

Mean absolute error: 13103.70
R2-score: 0.90
Rmse: 0.27

## **Copper**

In [109]:
from sklearn import linear_model
model_copper =neighbors.KNeighborsRegressor()
train_x = np.asanyarray(train[['no_of_cars']])

train_y_copper = np.asanyarray(train[['copper']])
model_copper.fit (train_x, train_y_copper)

KNeighborsRegressor()

In [110]:
from sklearn.metrics import r2_score

test_x = np.asanyarray(test[['no_of_cars']])
test_y_copper = np.asanyarray(test[['copper']])
test_y_hat_copper =model_copper.predict(test_x)

print("Mean absolute error: %.2f" % np.mean(np.absolute(test_y_hat_copper - test_y_copper)))

print("R2-score: %.2f" % r2_score(test_y_hat_copper , test_y_copper) )
rmse= mean_squared_error( test_y_copper,test_y_hat_copper,squared=False)
nrmse = rmse/np.std(test_y_copper)
print("Rmse: %.2f" % nrmse)

Mean absolute error: 3446.86
R2-score: 0.95
Rmse: 0.19