In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_regression
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.multioutput import MultiOutputRegressor
from sklearn.svm import SVR
from sklearn import preprocessing
import matplotlib.pyplot as plt  
%matplotlib inline

In [2]:
!git clone https://github.com/Nitesh167/raw-materials-forecasting.git

Cloning into 'raw-materials-forecasting'...
remote: Enumerating objects: 47, done.
remote: Counting objects: 100% (28/28), done.
remote: Compressing objects: 100% (28/28), done.
remote: Total 47 (delta 8), reused 0 (delta 0), pack-reused 19
Unpacking objects: 100% (47/47), done.

In [3]:
cd raw-materials-forecasting/

/content/raw-materials-forecasting

In [4]:
df=pd.read_csv('dataset_value2.csv')
df.columns=['Year',"no_of_cars","steel","plastics","iron","rubber","aluminium","glass","copper"]
df.head(10)

,Year,no_of_cars,steel,plastics,iron,rubber,aluminium,glass,copper
0,2001-2002,669719,505463.7,86072.3,70039.2,38816.9,24471.5,25315.3,8016.5
1,2002-2003,723330,572265.4,100524.4,76557.2,44020.4,28708.9,29665.9,9569.6
2,2003-2004,989560,811239.3,139558.5,108891.2,61251.2,42195.3,40834.2,13611.4
3,2004-2005,1209876,1045361.9,187176.3,139499.3,82993.2,54740.2,51208.6,19423.9
4,2005-2006,1309300,1151778.1,206929.6,150316.8,93703.9,62469.3,56612.8,19521.6
5,2006-2007,1545234,1409559.4,259339.7,177695.7,117663.3,79242.6,72038.8,24012.9
6,2007-2008,1777583,1645920.9,311564.3,208558.4,146554.6,98642.5,90187.4,28183.5
7,2008-2009,1838593,1648801.5,359327.6,212921.7,153244.8,102163.2,87973.9,31216.5
8,2009-2010,2357411,2070944.3,398196.5,251241.0,204582.0,136388.0,107674.7,39480.7
9,2010-2011,2987296,2619488.2,522065.8,286828.2,261032.9,178601.4,141965.2,50374.7

In [5]:
#delete column 
del df["Year"]

df.head()

,no_of_cars,steel,plastics,iron,rubber,aluminium,glass,copper
0,669719,505463.7,86072.3,70039.2,38816.9,24471.5,25315.3,8016.5
1,723330,572265.4,100524.4,76557.2,44020.4,28708.9,29665.9,9569.6
2,989560,811239.3,139558.5,108891.2,61251.2,42195.3,40834.2,13611.4
3,1209876,1045361.9,187176.3,139499.3,82993.2,54740.2,51208.6,19423.9
4,1309300,1151778.1,206929.6,150316.8,93703.9,62469.3,56612.8,19521.6

In [6]:
'''from sklearn.preprocessing import StandardScaler
cols_to_norm = ['no_of_cars','steel','plastics','iron','rubber','aluminium','glass','copper']
df[cols_to_norm] = StandardScaler().fit_transform(df[cols_to_norm])
df.head(10)'''

"from sklearn.preprocessing import StandardScaler\ncols_to_norm = ['no_of_cars','steel','plastics','iron','rubber','aluminium','glass','copper']\ndf[cols_to_norm] = StandardScaler().fit_transform(df[cols_to_norm])\ndf.head(10)"

In [7]:
np.random.seed(99)
msk = np.random.rand(len(df)) < 0.8
train = df[msk]
test = df[~msk]

In [8]:
gbr = GradientBoostingRegressor()
model = MultiOutputRegressor(estimator=gbr)
print(model)

MultiOutputRegressor(estimator=GradientBoostingRegressor())

In [9]:
train_x = np.asanyarray(train[['no_of_cars']])
train_y = np.asanyarray(train[["steel","plastics","iron","rubber","aluminium","glass","copper"]])

In [10]:
test_x = np.asanyarray(test[['no_of_cars']])
test_y = np.asanyarray(test[["steel","plastics","iron","rubber","aluminium","glass","copper"]])

In [11]:
model.fit(train_x, train_y)
score = model.score(train_x, train_y)
print("Training score:", score)

Training score: 0.9999991622821859

In [12]:
ypred = model.predict(test_x)
from sklearn.metrics import mean_squared_error
print("y1 MSE:%.4f" % mean_squared_error(test_x[:,0], ypred[:,0]))
#print("y2 MSE:%.4f" % mean_squared_error(test_y[:,1], ypred[:,1]))

y1 MSE:304056607823.0040

In [13]:
test_x = np.asanyarray(test[['no_of_cars']])
test_y = np.asanyarray(test[["steel","plastics","iron","rubber","aluminium","glass","copper"]])
test_y_hat =model.predict(test_x)
from sklearn.metrics import r2_score

print("Mean absolute error: %.2f" % np.mean(np.absolute(test_y_hat - test_y)))

print("R2-score: %.2f" % r2_score(test_y_hat , test_y) )
rmse= mean_squared_error( test_y,test_y_hat, squared=False)
nrmse = rmse/np.std(test_y)
print("Rmse: %.2f" % nrmse)

Mean absolute error: 42139.81
R2-score: 0.91
Rmse: 0.07

In [14]:
output= model.predict([['669719000']])
output

array([[3303262.23597975,  786813.43508307,  318419.36442393,
         300205.14638404,  342328.24984707,  186186.45464482,
          71273.03411257]])

'for  i in range(1,101):\n  np.random.seed(i)\n  msk = np.random.rand(len(df)) < 0.7\n  train = df[msk]\n  test = df[~msk]\n  gbr = GradientBoostingRegressor()\n  model = MultiOutputRegressor(estimator=gbr)\n  train_x = np.asanyarray(train[[\'no_of_cars\']])\n  train_y = np.asanyarray(train[["steel","plastics","iron","rubber","aluminium","glass","copper"]])\n  model.fit(train_x, train_y)\n  test_x = np.asanyarray(test[[\'no_of_cars\']])\n  test_y = np.asanyarray(test[["steel","plastics","iron","rubber","aluminium","glass","copper"]])\n  test_y_hat =model.predict(test_x)\n  np.mean(np.absolute(test_y_hat - test_y))\n  np.mean((test_y_hat - test_y) ** 2)\n  print(i,"R2-score: %.2f" % r2_score(test_y_hat , test_y) )'

In [16]:
gbr = GradientBoostingRegressor()
model = MultiOutputRegressor(estimator=gbr)
print(model)

MultiOutputRegressor(estimator=GradientBoostingRegressor())

In [17]:
train_x = np.asanyarray(train[['no_of_cars']])
train_y = np.asanyarray(train[['copper']])
test_x = np.asanyarray(test[['no_of_cars']])
test_y = np.asanyarray(test[['copper']])
model.fit(train_x, train_y)
score = model.score(train_x, train_y)
test_x = np.asanyarray(test[['no_of_cars']])
test_y = np.asanyarray(test[["copper"]])
test_y_hat =model.predict(test_x)
from sklearn.metrics import r2_score

print("Mean absolute error: %.2f" % np.mean(np.absolute(test_y_hat - test_y)))

print("R2-score: %.2f" % r2_score(test_y_hat , test_y) )
rmse= mean_squared_error( test_y,test_y_hat, squared=False)
nrmse = rmse/np.std(test_y)
print("Rmse: %.2f" % nrmse)

Mean absolute error: 3984.54
R2-score: 0.94
Rmse: 0.25